[gcode_macro CLEAN_NOZZLE]

gcode:
   # First, check if the axes are homed.
   {% if "xyz" in printer.toolhead.homed_axes %}

      ## Save the gcode state in this macro instance.
      SAVE_GCODE_STATE NAME=clean_nozzle

      ## Set to absolute positioning.
      G90
      G1 Z15 F3000
      G1 X100 Y305 F5000
      G1 Z3 F3000
      G1 X52 F5000
      G1 X100
      G1 X52
      G1 X100
      G1 X52
      G1 X100
      G1 Z15

      M117 Cleaned!

      ## Restore the gcode state to how it was before the macro.
      RESTORE_GCODE_STATE NAME=clean_nozzle

   {% else %}

      ## raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
      { action_raise_error("Please home your axes!") }
      M117 Please home first!

   {% endif %}
